@font-face {
    font-family: 'Fer';
    src:
        url('fonts/Fer-TextRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fer';
    src:
        url('fonts/Fer-TextMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vesterbro';
    src:
        url('fonts/Vesterbro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Vesterbro';
    src:
        url('fonts/Vesterbro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}